# ENFORCE UNIX NEWLINES
* text=auto eol=lf

# SOURCE CODE
*.css   text
*.html  text diff=html
*.json  text
*.md    text
*.php   text diff=php
*.xml   text

# CONFIGS
.editorconfig   text
*.lock          text -diff
*.yaml          text
*.yml           text
Makefile        text
makefile        text

# GRAPHICS
*.gif   binary
*.ico   binary
*.jpg   binary
*.pdf   binary
*.png   binary
*.svg   text
*.tif   binary
*.tiff  binary
*.wbmp  binary
*.webp  binary

# IGNORE
*.*ignore   text
